@keyframes left-to-right-widthincrease {
  from {
    /* opacity: 0; */
    width: 0%;
  }
  to {
    /* opacity: 1; */
    width: 100%;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spawn-right {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}
@keyframes top-spawn {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes top-spawn-name {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes color-change-rainbow {
  0% {
    color: violet;
  }
  20% {
    color: indigo;
  }
  40% {
    color: blue;
  }
  60% {
    color: green;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}
@keyframes color-change-rainbow-bg {
  0% {
    background-color: rgba(129, 33, 129, 0.192);
  }
  20% {
    background-color: rgba(37, 95, 117, 0.116);
  }
  40% {
    background-color: rgba(28, 80, 18, 0.13);
  }
  60% {
    background-color: rgba(0, 128, 0, 0.158);
  }
  80% {
    background-color: rgba(185, 26, 206, 0.096);
  }
  100% {
    background-color: rgba(180, 178, 20, 0.096);
  }
}
@keyframes size-up-down {
  0% {
    font-size: 50px;
  }
  50% {
    font-size: 90px;
  }
  100% {
    font-size: 50px;
  }
}
@keyframes right-to-left-opa {
  from {
    opacity: 0;
    left: 1000px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}
@keyframes border-on-off {
  0% {
    border: solid 1px red;
  }
  50% {
    border: solid 0px rgb(209, 188, 188);
  }
  100% {
    border: solid 1px red;
  }
}
@keyframes zoom-in-out {
  0% {
    left: 50px;
  }
  50% {
    left: 800px;
  }
  100% {
    left: 200px;
  }
}
@keyframes zoom-in-out-goku {
  0% {
    left: -240px;
  }
  /* 50% {
    left: 2000px;
  }
  51% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
  100% {
    left: 1590px;
  }
}
@keyframes left-to-right-slide {
  from {
    left: -5000px;
  }
  to {
    left: -0px;
  }
}
