@keyframes left-to-right-widthincrease {
  from {
    /* opacity: 0; */
    width: 0%;
  }
  to {
    /* opacity: 1; */
    width: 100%;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spawn-right {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}
@keyframes top-spawn {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes top-spawn-name {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes color-change-rainbow {
  0% {
    color: violet;
  }
  14% {
    color: indigo;
  }
  28% {
    color: blue;
  }
  45% {
    color: green;
  }
  62% {
    color: orange;
  }
  100% {
    color: red;
  }
}
@keyframes color-change-rainbow-bg {
   0% {
    background-color: rgba(238, 130, 238, 0.192);
  }
  14% {
    background-color: rgba(76, 0, 130, 0.116);
  }
  28% {
    background-color: rgba(0, 0, 255, 0.13);
  }
  45% {
    background-color: rgba(0, 128, 0, 0.158);
  }
  62% {
    background-color: rgba(255, 166, 0, 0.096);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.096);
  } 
  }
}
