.bg {
  padding-top: 40px;
  margin-left: 350px;
  width: 50px;
  height: 500px;
  background-color: rgba(114, 114, 113, 0.164);
  opacity: 0;
  border-radius: 5px;
  /* left: 290px; */
  /* position: relative; */
  animation-name: spawn-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 300px;
}
.intro:hover {
  animation-name: color-change-rainbow-bg;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
p#hey {
  font-size: 50px;
  color: violet;
  text-align: center;
  top: 0px;
  opacity: 0;
  position: relative;
  /* animation-name: top-spawn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: color-change-rainbow;
  animation-direction: 5s;
  animation-iteration-count: infinite; */
  animation: top-spawn 2s 2s forwards, color-change-rainbow 2s infinite forwards;
}
p#name {
  font-size: 50px;
  padding-top: 20px;
  color: rgb(56, 81, 190);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  top: 0px;
  opacity: 0;
  position: relative;
  animation-name: top-spawn-name;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
p#welcome {
  font-size: 50px;
  padding-top: 30px;
  color: rgb(56, 81, 190);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  top: 0px;
  opacity: 0;
  position: relative;
  animation-name: top-spawn-name;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
