body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
}
#nav {
  width: 0%;
  position: relative;
  height: 47px;
  border-radius: 10px;
  width: 100%;
  /* animation-name: left-to-right-widthincrease;
  animation-duration: 1s;
  margin-bottom: 50px;
  animation-fill-mode: forwards;
  top: 1px; */

  /* overflow: hidden; */
  animation: left-to-right-slide 1s forwards;
}
#nav a {
  user-select: none;
  font-size: 40px;
  padding: 0px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Bangers", cursive;
}
#nav a:hover {
  background-color: rgb(255, 255, 255);
  width: 0%;
  color: rgb(0, 0, 0);
  border: solid 2px rgb(0, 0, 0);
  animation-name: opac;
  animation-duration: 0.5s;
  border-radius: 8px;
}
