#skills {
  margin-top: 800px;
}
#programming {
  width: 400px;
  height: 400px;
  background-color: rgb(177, 51, 51);
  border-radius: 20px;
  margin: 10px 20px;
  display: inline-block;
  font-family: "Bangers", cursive;
}
#videoediting {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(177, 51, 51);
  border-radius: 20px;
  margin: 10px 100px;
  font-family: "Bangers", cursive;
}
#webdevelopment {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: rgb(177, 51, 51);
  border-radius: 20px;
  margin: 10px 20px;
  font-family: "Bangers", cursive;
}
#tags {
  margin-top: -500px;
}
